@font-face {
  font-family: "Acumin Variable Concept";
  src: url(""); /* IE9*/
  src: url("") format("embedded-opentype"), /* IE6-IE8 */
	url("") format("woff2"), /* chrome firefox */
    url("") format("truetype") /* chrome firefox opera Safari, Android, iOS 4.2+*/
}